<footer class="footer">
  <section class="container">
    {{ with .Site.Params.footercontent }}
      <p>{{.}}</p>
    {{ end }}
    {{ if not .Site.Params.hideCopyright }} © {{ now.Year }} {{ end }} {{ if not .Site.Params.hideCredits}} {{ if not .Site.Params.hideCopyright }} · {{ end }} Powered by <a href="https://gohugo.io/">Hugo</a> & <a href="https://github.com/luizdepra/hugo-coder/">Coder</a>. {{ end }}
  </section>
</footer>
